body {
    background-color: #023373;
    color: #F24E29;
}

.navbar-brand {
    font-family: Comic Sans MS;
}
#researchContainer {
    margin: 50px;
}
.aboutMe {
   margin: 70px;
}
 td {
    border:1px solid black;
    word-break: break-all;
  }
  table {
    table-layout: fixed;
  }

.colTextAlign {
    text-align: center;
}

.center {
      margin: 0 auto; 
  }
  /* For the Initial Research Page */
.initialHeader {
    height: 150px;
    width: 100%;
    background-color: black;
}
* {
    box-sizing: border-box;
  }
  
  .need {
    display: flex;
    margin-left: 7%;
    margin-top: 2%;
  }
  
  .problem {
    flex: 50%;
    padding: 20px;
    margin-left: 5%;
  }
  .problem * {
color: white;
font-size: 18px;
text-align: center;
  }
  .problem * td {
background: green;
  }
  /* Source section CSS */
  #sourceSection {
    margin: 30px;
  }
  #sourceSection * li {
    color: white;
  }
  /* Root causes css */
  .evidenceContainer {
margin-left: 3%;
  }
  .evidenceContainer * li {
    margin-left: 10%;
  }