body {
    background-color: #023373;
    color: #F24E29;
}

.navbar-brand {
    font-family: Comic Sans MS;
}
#researchContainer {
    margin: 50px;
}
.aboutMe {
   margin: 70px;
}
 td {
    border:1px solid black;
    word-break: break-all;
  }
  table {
    table-layout: fixed;
  }

.colTextAlign {
    text-align: center;
}

.center {
      margin: 0 auto; 
  }